<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "_head.tmpl" }}
  <title>Golang Podcast</title>
</head>
<body>
  <div class="container">
    <h1>Golang Podcast</h1>
    {{ range .Episodes }}
      <a href="/{{.Key.Key}}">{{.Title}}</a>
      <br>
      <code>{{ . }}</code>
      <br>
    {{ end }}
  </div>
</body>
</html>
